.root {
  padding: 2rem;
}

.root > div {
  left: 50%;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.root > div > button {
  background-color: transparent;
  border: 0.0625rem solid #000;
  border-radius: 0.5rem;
  color: #000000;
  cursor: pointer;
  margin-top: 0.25rem;
  padding: 0.125rem 2rem;
}

@media only screen and (max-width: 48em) {
  .root {
    padding: 1rem;
  }
}
