form {
  color: #475569;
}

.form--text {
  font-size: 14px;
  line-height: 1.25rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-wrapper {
  display: flex;
  margin-top: 10px;
}

.input-field {
  margin: 32px 0 0 38px;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 0;
}

select:invalid {
  color: #94a3b8;
}

.check {
  margin-bottom: 10px;
}

input[type='text'],
input[type='number'],
input[type='date'],
select {
  width: 240px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 4px;
}

input[type='checkbox'] {
  margin-right: 8px;
}

textarea {
  width: 768px;
  height: 110px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  margin-top: 4px;
}

.input-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  line-height: 0px;
  position: relative;
  overflow: hidden;
}

.preview span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 400;
  color: #94a3b8;
}

.preview img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
}

.form-image {
  margin: auto;
}

.btn-upload {
  color: transparent;
}
.btn-upload::-webkit-file-upload-button {
  visibility: hidden;
}
.btn-upload::before {
  content: 'Upload Image';
  color: #4b5563;
  display: inline-block;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 12px 50px 12px 50px;
  margin-left: 20%;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
.btn-upload:hover::before {
  border-color: black;
}
.btn-upload:active {
  outline: 0;
}
.btn-upload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.btn-wrapper {
  margin: auto;
}

.btn-save {
  height: 38px;
  background-color: #6366f1;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
}

.btn-save:hover {
  background-color: #1e293b;
  color: #fff;
}

.btn-cancel {
  height: 38px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #4b5563;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 500;
  margin-right: 24px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
}

.btn-cancel:hover {
  background-color: #1e293b;
  color: #fff;
}
