select:invalid {
  color: #94a3b8;
}

.check {
  color: #475569;
}

select {
  width: 240px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #475569;
}

input[type='checkbox'] {
  margin-right: 8px;
}
