.wrapper {
  background-color: rgb(255 255 255);
  border-radius: 0.375rem /* 6px */;
  padding-bottom: 30px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-weight: 600;
  padding: 28px 20px 28px 20px;
  margin-left: 1.25rem /* 20px */;
}

.title--purple {
  color: #6366f1;
  font-size: 16px;
  font-weight: 600;
}

.border {
  background-color: rgb(203 213 225);
  height: 0.125rem /* 2px */;
}
